			pre.molle {
				font-family: 'Molle', cursive;
			}
			h1.monospace {
				font-family: "Courier New", Courier, monospace
			}
			h4.monospace {
				font-family: "Courier New", Courier, monospace
			}
			h2.monospace {
				font-family: "Courier New", Courier, monospace
			}
			h1.cursive {
				font-family: "Brush Script MT", cursive;
				font-size: 24px;
				font-style: normal;
				font-variant: normal;
				font-weight: 500;
				line-height: 26.4px;
			}
			h3.cursive {
				font-family: "Brush Script MT", cursive;
				font-size: 14px;
				font-style: normal;
				font-variant: normal;
				font-weight: 500;
				line-height: 15.4px;
			}
			p.cursive {
				font-family: "Brush Script MT", cursive;
				font-size: 14px;
				font-style: normal;
				font-variant: normal;
				font-weight: 400;
				line-height: 20px;
			}
			blockquote.cursive {
				font-family: "Brush Script MT", cursive;
				font-size: 21px;
				font-style: normal;
				font-variant: normal;
				font-weight: 400;
				line-height: 30px;
			}
			pre.cursive {
				font-family: "Brush Script MT", cursive;
				font-size: 13px;
				font-style: normal;
				font-variant: normal;
				font-weight: 400;
				line-height: 18.5714px;
			}
			h1.cursive2 {
				font-family: "Aguafina Script";
				font-size: 24px;
				font-style: normal;
				font-variant: normal;
				font-weight: 500;
				line-height: 26.4px;
			}
			h3.cursive2 {
				font-family: "Aguafina Script";
				font-size: 14px;
				font-style: normal;
				font-variant: normal;
				font-weight: 500;
				line-height: 15.4px;
			}
			p.cursive2 {
				font-family: "Aguafina Script";
				font-size: 14px;
				font-style: normal;
				font-variant: normal;
				font-weight: 400;
				line-height: 20px;
			}
			blockquote.cursive2 {
				font-family: "Aguafina Script";
				font-size: 21px;
				font-style: normal;
				font-variant: normal;
				font-weight: 400;
				line-height: 30px;
			}
			pre.cursive2 {
				font-family: "Aguafina Script";
				font-size: 13px;
				font-style: normal;
				font-variant: normal;
				font-weight: 400;
				line-height: 18.5714px;
			}
			h1.cursive3 {
				font-family: "Aguafina Script";
				font-size: 23px;
				font-style: normal;
				font-variant: normal;
				font-weight: 500;
				line-height: 23px;
			}
			h3.cursive3 {
				font-family: "Aguafina Script";
				font-size: 17px;
				font-style: normal;
				font-variant: normal;
				font-weight: 500;
				line-height: 23px;
			}
			p.cursive3 {
				font-family: "Aguafina Script";
				font-size: 14px;
				font-style: normal;
				font-variant: normal;
				font-weight: 400;
				line-height: 23px;
			}
			blockquote.cursive3 {
				font-family: "Aguafina Script";
				font-size: 17px;
				font-style: normal;
				font-variant: normal;
				font-weight: 400;
				line-height: 23px;
			}
			pre.cursive3 {
				font-family: "Aguafina Script";
				font-size: 11px;
				font-style: normal;
				font-variant: normal;
				font-weight: 400;
				line-height: 23px;
			}
